.new-tweet {
	margin: 0 2em 1em 2em;
	border-radius: 10px;
	background-color: #eee;
	padding: 0 0.5em 0.5em 0.5em;
	border: 1px solid #ccc;
}

.new-tweet h2 {
	margin: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #000;
}

.new-tweet textarea {
	width: 100%;
}

.new-tweet .counter {
	float: right;
}

.new-tweet .counter-invalid {
	color: red;
}
